In [2]:
#Importing aam_utils: pre-built code with functions for summary variables and data exploration.
#import aam_utils2
import pandas as pd
import sys 
sys.path.append('C:/Users/jingzhao2/Desktop/AAM LEARNING/Python/course')
import aam_utils2
from aam_utils2 import *
print "imported"

imported

In [3]:
hk_raw=pd.read_csv('Data/HorseKicks.csv')
print hk_raw.head(1)

   Year  GC  C1  C2  C3  C4  C5  C6  C7  C8  C9  C10  C11  C14  C15
0  1875   0   0   0   0   0   0   0   1   1   0    0    0    1    0

In [4]:
hk_raw.describe()

,Year,GC,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C14,C15
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.00000,20.000000,20.000000,20.000000,20.000000
mean,1884.50000,0.800000,0.800000,0.600000,0.600000,0.400000,0.550000,0.850000,0.600000,0.35000,0.65000,0.750000,1.250000,1.200000,0.400000
std,5.91608,0.894427,1.056309,0.820783,0.753937,0.502625,0.604805,0.988087,0.753937,0.48936,0.74516,0.910465,1.208522,1.151658,0.680557
min,1875.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,1879.75000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,1884.50000,1.000000,0.000000,0.000000,0.000000,0.000000,0.500000,1.000000,0.000000,0.00000,0.50000,0.500000,1.000000,1.000000,0.000000
75%,1889.25000,1.000000,1.250000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,2.000000,2.000000,1.000000
max,1894.00000,3.000000,3.000000,2.000000,2.000000,1.000000,2.000000,3.000000,2.000000,1.00000,2.00000,3.000000,4.000000,4.000000,2.000000

In [5]:
aam_utils2.get_quick_var_summary(hk_raw)

Summaries for dataframe variables

Error: unsupported locale setting